<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>479567212087-ckrjb9liv0ep42v0s4od9m4fe160ov8g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.479567212087-ckrjb9liv0ep42v0s4od9m4fe160ov8g</string>
	<key>API_KEY</key>
	<string>AIzaSyCFwgS0qclM7i6dCI6BTmebXeuxzV8qQ0A</string>
	<key>GCM_SENDER_ID</key>
	<string>479567212087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rouaBenamor</string>
	<key>PROJECT_ID</key>
	<string>smartmeter-e3150</string>
	<key>STORAGE_BUCKET</key>
	<string>smartmeter-e3150.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:479567212087:ios:ca8ad1ebd304bacc8059b2</string>
	<key>DATABASE_URL</key>
	<string>https://smartmeter-e3150-default-rtdb.firebaseio.com</string>
</dict>
</plist>